html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background: #F7F8FA;
}

body {
  margin: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
  color: #515656;
  font-family: 'Anonymous Pro', monospace
}

* {
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
  box-sizing: border-box
}

html, body {
  font-size: 62.5%;
  height: 100%;
  text-align: left;
  margin-left: 10px;
}

a {
  color: black;
  cursor: pointer
}

p {
  margin: 0 0 3px;
  opacity: .65
}

hr {
  display: block;
  width: 50%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.09);
  border: 0;
  margin-top: 2.1rem
}

h1 {
  font-size: 5rem
}

h2 {
  font-size: 3.5rem;
  margin-bottom: 4rem
}

@media screen and (max-width: 992px) {
  h2 {
    margin-bottom: 1rem
  }
}

h3 {
  font-size: 2rem;
  margin-bottom: 1rem
}
span {
  font-size: 2rem;
  line-height: 30px;
  color: #515656;
  font-family: 'Anonymous Pro', monospace
}

a, p, code, .code-block, th, td {
  font-size: 1.5rem
}

/*typeit*/

@-webkit-keyframes blink {
  0% {
    opacity: 1
  }
  50% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@keyframes blink {
  0% {
    opacity: 1
  }
  50% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

.ti-container {
  display: block;
  font-size: inherit
}

.ti-text-container {
  position: relative;
  display: inline;
  font-size: inherit
}

.ti-text-container:before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 1em;
  position: relative
}

.ti-text-container.active-container.ti-cursor:after {
  display: inline
}

.ti-cursor:after {
  display: none;
  content: '|';
  bottom: .05em;
  right: -.25em;
  position: absolute;
  line-height: normal;
  font-size: inherit;
  -webkit-animation: blink 1s infinite;
  animation: blink 1s infinite
}

/*Github SVG*/
.github-svg {
	width: 40px;
	height: 40px
}
