@charset "UTF-8";

/* =Base */
/*************************************************************/
body {
  font-family: 'Quicksand', sans-serif;
  font-size: 100%;
  color: #012;
  background-color: #FFF;
}

a {
  color: #57A;
  font-weight: bold;
  text-decoration: none;
}

p,
ul {
  font-size: 100%;
  line-height: 32px;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  color: #16a085;
}

.wrapper {
  max-width: 800px;
  margin: 60px auto;
}

.svg-card {
  display: inline-flex;
  margin: 0 10px 10px 10px;
  cursor: pointer;
}

/* =Header */
/*************************************************************/
.header {
  overflow: hidden;
}

.navigation {
  float: left;
}

.logo {
  font-size: 300%;
  font-weight: 700;
  color: #16a085;
  display: block;
}

.menu {
  color: #828282;
  font-size: 150%;
  margin: 0px;
  margin-top: 6px;
  padding: 0px;
  list-style-type: none;
}

.menu__entry {
  display: inline-block;
  margin-right: 35px;
}

.menu__entry:last-child {
  margin-right: 0px;
}

.menu__entry a {
  font-weight: 400;
}

.social-links {
  float: right;
  font-size: 150%;
  color: #828282;
  list-style-type: none;
}

.social-links__entry {
  display: inline-block;
  margin-left: 10px;
}

/* =Titles */
/*************************************************************/
.page-title {
  margin: 30px auto;
  text-align: center;
}

.page-title__text {
  font-weight: 700;
  font-size: 150%;
}

.page-title__subtitle {
  font-weight: 400;
  font-size: 75%;
  color: #828282;
}

/* =Post teasers */
/*************************************************************/

/* =Post page */
/*************************************************************/
.about {
  color: #828282;
  text-align: center;
  line-height: 24px;
}

.about__devider {
  font-size: 100%;
  letter-spacing: 9.09px;
}

.about__text {
  font-size: 100%;
}

/* =Page navigation */
/*************************************************************/

/* =Main Page */
/*************************************************************/
#about-img {
  border-radius: 50%;
  max-width: 125px;
  margin: auto;
  margin-bottom: 3%;
}

#describe-text {
  display: block;
  text-align: center;
  width: 100%;
}

/* =Small screen */
/*************************************************************/
@media (max-width: 500px) {

  p,
  ul {
    font-size: 100%;
    line-height: 1.6;
  }

  .wrapper {
    width: 90%;
    margin: 15px auto;
  }

  .navigation,
  .social-links {
    display: block;
    text-align: center;
    width: 100%;
  }

  .social-links {
    font-size: 200%;
    margin: 10px auto;
  }

  .page-title {
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .page-title__text {
    font-size: 150%;
  }

  .page-title__subtitle {
    font-size: 65%;
  }

}